<h2>Welcome!</h2>
<p>This site will be serve as a single point to collect my works and interests.</p>

<h2>Some of my things:</h2>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fab fa-github-square fa-lg main-list-item-icon"></span>
    <a href="https://github.com/FossilizedCarlos">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://linkedin.com/in/cebarboza">LinkedIn Profile</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-twitter-square fa-lg main-list-item-icon"></span>
    <a href="https://www.twitter.com/FossilizedDev">@FossilizedDev</a>
  </li>
  <li class="main-list-item">
    <span class="fa-brands fa-mastodon fa-lg main-list-item-icon"></span>
    <a href="https://mastodon.social/@FossilzedCarlos">@FossilzedCarlos</a>
  </li>
</ul>

<h2>Works in progress:</h2>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fas fa-bone"></span>
    <span class="fas fa-pencil-alt"></span>
    <span class="fab fa-app-store"></span>
    <a href="https://www.fossilizedbits.com">Fossilized Bits</a>
  </li>
  <li class="main-list-item">
    <span class="fas fa-swimmer fa-flip-horizontal"></span>
    <span class="fas fa-bicycle"></span>
    <span class="fas fa-running"></span>
    <a href="http://www.alwaystrihard.com">AlwaysTRIHARD</a>
  </li>
</ul>
